blinker==1.9.0
cachelib==0.13.0
cffi==1.17.1
click==8.1.8
clr_loader==0.2.7.post0
colorama==0.4.6
firebird-base==1.8.0
firebird-driver==1.10.10
Flask==3.1.0
Flask-Session==0.8.0
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
msgspec==0.19.0
packaging==25.0
protobuf==6.30.2
pycparser==2.22
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pythonnet==3.0.5
six==1.17.0
Werkzeug==3.1.3
